#recievingUser {
     height : 8vh;
}

#messages {
     height: calc(100% - 16vh);
     background: url(./images/vcb.jpg);
     overflow-y: auto;
     overflow-x: hidden;
     padding: 2em;
}

#sendbtn {
     bottom: 0;
     width: 100%;
}

#recievingUserPic {
     height: 10vw;
     width: 10vw;
}

#navimage{
     width: auto;
     height: 100%;
}

#footer{
     background-color: #F8F8F8;
     margin-top: 2em;
     padding: 2em;
}

#login_register {
     background: url(./images/vcb.jpg);
     padding: 1em;
}

#chatmsg {
     background-color: #F5F4F9;
}
